<link rel="stylesheet" href="/css/test.css">
<div>    
    <h1>Analyse de Fréquence d'un Message Chiffré</h1>

    <textarea id="cipherText" placeholder="Collez votre message chiffré ici..."></textarea>
    <button id="analyzeBtn" class="btn btn-primary">
        <i class="fas fa-play"></i>
        Analyser
    </button>
    <input type="text" id="shift" placeholder="Décalage (pour César)">
    <input type="text" id="key" placeholder="Clé (pour Vigenère)">
    <div id="result"></div>

    <!-- Load flask.js first, then test.js -->

    <script src="/js/test.js"></script>
</div>
    <script src="/js/flask.js"></script>

